/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --primary: "Poiret One";
  --secondary: "Amaranth";
  --third: "Poppins";

  --one: #57122e;
  --two: #af6e5c;
  --three: #bbbcb7;
  --four: #7ba5d5;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--primary), "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--two)),
    to(var(--one))
  );
  background: -o-linear-gradient(var(--two), var(--one));
  background: linear-gradient(var(--two), var(--one));
}

/* ----------------------------- */
/* nav */
/* ----------------------------- */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 10vh;
  background: var(--three);
  -webkit-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
  width: 100%;
}

nav img {
  margin-left: 0.5rem;
}

nav h2 {
  font-family: var(--secondary), cursive;
  text-align: start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 2.25rem;
  padding: 0 1rem;
  margin: 0;
  color: var(--one);
  text-shadow: 0.5px 2px 2px rgba(0, 0, 0, 0.75);
}

.nav-links {
  font-weight: 500;
  min-height: 10vh;
  position: relative;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.nav-links a {
  height: 10vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: var(--one);
  text-align: center;
  outline: transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-links a:hover {
  background: var(--two);
  color: var(--three);
}

.active li {
  outline: transparent;
  position: relative;
}

.active li::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  top: -0.25rem;
  left: 0;
  background: var(--two);
}

.active li::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  color: white;
  background: var(--two);
}

h1 {
  font-family: var(--secondary), cursive;
}

/* ----------------------------- */
/* footer */
/* ----------------------------- */
footer {
  color: var(--three);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-contact {
  text-decoration: none;
  display: inline-block;
}

.footer-contact p {
  margin: auto;
  color: var(--three);
  font-size: 1.5rem;
  border: 2px solid var(--three);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-contact p:hover {
  color: var(--four);
  border: 2px solid var(--four);
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin-top: 2rem;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 2rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer li:hover {
  color: var(--four);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: not-allowed;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

.hamburger {
  display: none;
}

.solo {
  text-align: center;
}

@media (max-width: 1000px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav img {
    position: absolute;
    top: 0;
    left: 0;
  }
  nav h2 {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    z-index: 2;
  }
  .mobile-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
  }
  .mobile-close {
    display: none;
  }
  .nav-links {
    margin: 0;
    background: var(--two);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .nav-links a {
    padding: 1rem 0;
  }
  .nav-links li {
    width: 100%;
    color: var(--three);
    font-size: 3rem;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--one);
    height: 10vh;
    width: 10vw;
    z-index: 2;
  }
}
